#colors {
	color: #394f8b;
	color: #49545d;
	color: #5d5249;
	color: #a52130;
	color: #aaaaaa;
}
body {
	background-color: #aaaaaa;
	color: white;
	font-family: 'Poiret One', cursive;
}
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #49545d;
}
nav {
	height: 100px;
	margin: 0 auto;
	background-color: #a52130;
}
li {
	list-style-type: none;
	display: inline;
	text-transform: uppercase;
	font-size: 1.15em;
	padding: 20px 10px;
	margin: 40px 20px 0px 0px;
	float: right;
}
a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
#col-left-out, #col-center-out, #col-right-out {
	float: left;
}
#col-left-in, #col-center-in, #col-right-in {
	padding: 2px 10px;
}
#col-left-out, #col-right-out {
	width: 25%;
	background-color: #394f8b;
}
#col-left-in, #col-right-in {
	background-color: #ffffff;
}
#col-left-out {

}
#col-left-in {
	margin: 20px;

}
#col-center-out {
	width: 50%;
	background-color: #49545d;
}
#col-center-in {
	margin: 20px;
	background-color: #aaaaaa;
	color: #000000;
}
#col-right-out {
	
}
#col-right-in {
	margin: 20px;
}
#footer {
	height: 100px;
	width: 0 auto;
	clear: both;
	background-color: #a52130;
}