#colors {
	color: #394f8b;
	color: #49545d;
	color: #5d5249;
	color: #a52130;
	color: #aaaaaa;
}
body {
	background-color: #aaaaaa;
	color: white;
	font-family: 'Poiret One', cursive;
}
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #49545d;
}
nav {
	height: 100px;
	margin: 0 auto;
	background-color: #a52130;
}
li {
	list-style-type: none;
	display: inline;
	text-transform: uppercase;
	font-size: 1.15em;
	padding: 20px 10px;
	margin: 40px 20px 0px 0px;
	float: right;
}
a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #aaaaaa;
	text-decoration: underline;
	font-weight: bold;
}
#col-left-out, #col-center-out, #col-right-out, #col-center-wide-out {
	float: left;
}
#col-left-in, #col-center-in, #col-right-in, #col-center-wide-in {
	padding: 2px 10px;
}
#col-left-out, #col-right-out {
	width: 25%;
	background-color: #394f8b;
}
#col-left-in, #col-right-in {
	background-color: #ffffff;
	color: #000000;
}
#col-left-out {

}
#col-left-in {
	margin: 20px;

}
#col-center-out {
	width: 50%;
	background-color: #49545d;
}
#col-center-in {
	margin: 20px;
	background-color: #aaaaaa;
	color: #000000;
}
#col-right-out {
	
}
#col-right-in {
	margin: 20px;
}
#col-center-wide-out {
	width: 75%;
}
#col-center-wide-in {
	margin: 20px;
	background-color: #aaaaaa;
	color: #000000;
}
#footer {
	height: 100px;
	width: 1000px;
	margin: 0 auto;
	clear: both;
	background-color: #a52130;
}
.gallery {
	width: 30%;
	float: left;
	box-shadow: 10px 10px 5px #2a2a2a;
}
#panoramic {
	margin: 20px 10px 10px 25px;
}
#cliffs {
	margin: 20px 10px 10px 10px;
}
#elephant {
	margin: 20px 20px 10px 10px;
}
#fall {
	margin: 10px 10px 20px 25px;
}
#flowers {
	margin: 10px 10px 20px 10px;
}
#montreal {
	margin: 10px 20px 20px 10px;
}
#facebook {
	position: fixed;
	margin-top: 300px;
}
#twitter {
	position:fixed;
	margin-top: 370px;
}
